<%#= form_for(@comment, url: recipe_comments_path(@recipe)) do |f| %>

<%= form_for([@recipe, @comment], html: {id: "new-comment-form"}) do |f| %>
  <% if @comment.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@comment.errors.count, "error") %> prevented this Comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :description, id: "newCommentDescription", class: "form-control", placeholder: "Comment on this recipe..." %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :recipe_id, value: @recipe.id %>
  </div>

  <%= f.submit class: "btn btn-primary" %>

<% end %> 