<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="recipe_index" class="panel panel-default">
      
      <div class="panel-heading">
        <p>Eat Smart. Eat Well. Eat AllergyFree.</p>
        <% if user_signed_in? %>
          <%= link_to "Create New Recipe", new_recipe_path, class: "btn btn-warning" %> or <%= link_to "Search by Allergen", search_allergens_path, class: "btn btn-warning" %>
        <% else %> 
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %> or <%= link_to "Login", new_user_session_path, class: "btn btn-danger" %>  
        <% end %>
      </div>

      <% if @favorite_user_recipe && @most_upvoted_recipe %>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <h5>Recipe Added Most to Favorites</h5>
              <div class="top-recipe">
                <%= render partial: "top_recipe_brick", locals: {recipe: @favorite_user_recipe } %>              
              </div>
            </div>
            <div class="col-md-6">
              <h5>Top Recipe Upvoted by Users</h5>
              <div class="top-recipe">
                <%= render partial: "top_recipe_brick", locals: {recipe: @most_upvoted_recipe } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
         
    </div><!-- /.panel -->    
  </div><!-- /.col -->
</div> <!-- /.row-->
<div class="row">
  <%= render partial: "recipe_bricks", locals: {recipes: @recipes} %>
</div>
