<!DOCTYPE html>
<html>
<head>
  <title>AllergyFreeMealsRailsApplication</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/navigation" %>
  <!-- see application_helper.rb -->
  <%= flash_messages %>
  <div id="main-container" class="container">
    <%= yield %>
    <div id="push"></div>
  </div> <!-- close main container -->
  <%= render "shared/footer" %>
</body>

</html>
