<!DOCTYPE html>
<html>
<head>
  <title>AllergyFreeMeals</title>
  <!-- additional meta tag to trigger responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/navigation" %>
  <!-- see application_helper.rb -->
  <%= flash_messages %>
  <div id="main-container" class="container">
    <%= yield %>
    <div id="push"></div>
  </div> <!-- close main container -->
  <%= render "shared/footer" %>
</body>

</html>
